{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Download Vídeos Youtube</title>
</head>
<body>
    <main>
        <div class="titulos">
            <h1>
                Download Vídeos Youtube
            </h1>
        </div>

        <div class="div_input_link">
            <input type="text" placeholder="Cole o link aqui" id="id_input_link">
            <div id="id_div_msg_alerta">
                <h2 id="id_msg_alerta"></h2>
                <div class="divSpinner">
                    <img src="{{ img_spinner }}" alt="carregando..." class="imgSpinner">
                </div>                
            </div>
        </div>

        <div class="div links_container">
            <button id="id_btn_add_link">
                <img src="{{ img_btn_add }}" class="img_btn_add" title="Adicionar link">
            </button>

            <button class="divBtnLinks"><img src="{{ img_links_yt }}" class="btnLinksYoutube"></button>
            <button class="divBtnMp4"><img src="{{ img_btn_mp4 }}" class="btnMidiasYoutubeMp4"></button>
            <button class="divBtnMp3"><img src="{{ img_btn_mp3 }}" class="btnMidiasYoutubeMp3"></button>
        </div>
        
        <!-- Recebe os links salvos, todo processo é feito pelo js.-->
        <div class="content"></div>

        <dialog class="dialog dialog_play">
            <div class="div div_dialog_play">
                <video controls class="video_player">
                    <source src="" type="video/mp4">
                </video>
            </div>
            <div>
                <button class="btn_fechar_dialog">Fechar</button>
            </div>
        </dialog>

        <dialog class="modalOpcMidia">
            <div class="opcMidiadownload">
                <div class="opcRadioMidia">                        
                    <label class="lblOpcao" for="radioMp3"> MP3</label>
                    <input type="radio" value="MP3" name="nOpcao" id="radioMp3">
                    <label class="lblOpcao" for="radioMp4"> MP4</label>
                    <input type="radio" value="MP4" name="nOpcao" id="radioMp4">
                </div>
                <div class="btnContinuarOpcMidia">
                    <button class="btnOpcMidia">Continuar</button>
                </div>
            </div>
        </dialog>
    </main>
    
    <div id="id_video_teste" data-url="{{ midia_local }}"></div>
    <script type="module" src="{% static 'js/utilitys.js' %}"></script>
    <script type="module" src="{% static 'js/script.js' %}"></script>
    
</body>
</html>