{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Download Vídeos Youtube</title>
</head>
<body>
    <main>
        <div class="titulos">
            <h1>
                Download Vídeos Youtube
            </h1>
        </div>

        <div class="div_input_link">
            <input type="text" placeholder="Cole o link aqui" id="id_input_link">
        </div>

        <div id="id_div_msg_alerta">
            <h4 id="id_msg_alerta">Mensagem</h4>
        </div>

        <div id="id_lista_links">
            {% for link in lista_links %}
                <div class="div_link">
                    <a href="{{ link.url }}" target="_blank">{{ link.titulo }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="div_btns_add">
            <button id="id_btn_add_link">Adicionar</button>
        </div>
        
        <ul>
            <li><a href="#" id="id_a_down_links">Download links Salvos</a></li>
            <li><a href="#" id="id_a_player_midias">Player Midias</a></li>
        </ul>

        <div class="div_resultado_link"></div>

        <dialog class="dialog dialog_play">
            <div class="div div_dialog_play">
                <video controls class="video_player">
                    <source src="" type="video/mp4">
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            </div>
        </dialog>
    
    </main>
    
    <div id="id_video_teste" data-url="{{ midia_local }}"></div>
    <script type="module" src="{% static 'js/utilitys.js' %}"></script>
    <script type="module" src="{% static 'js/script.js' %}"></script>
</body>
</html>