{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Download Vídeos Youtube</title>
</head>
<body>
    <main>
        <div class="titulos">
            <h1>
                Download Vídeos Youtube
            </h1>
        </div>

        <div class="div_input_link">
            <input type="text" placeholder="Cole o link aqui" id="id_input_link">
        </div>
        <div class="div_btns">
            <button>Adicionar</button>
            <button>Download</button>
            <button>Remover</button>
            <button>Player</button>
        </div>
    </main>
</body>
</html>