
:root {
    --cor_background: rgba(223, 221, 221, 0.863);
    --font_family: Arial, sans-serif;
    --font_size: 16px;
    --bord_teste: 1px solid #000;
    --sombra: 2px 2px 2px rgba(0, 0, 0, 0.1);
    --bord_radios_px: 5px;
}


html {
    background-color: var(--cor_background);
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
    height: 61rem;
    justify-content: center;
    align-items: center;
    margin: 1px solid #000;
}

div.titulos {
    text-align: center;
    align-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    letter-spacing: 2px;
}

/* Estilo para a DIV que contém o input de link */
div.div_input_link{
    justify-items: center; /* Centraliza o conteúdo ao meio da DIV*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}   
    /* Estilo para o input de link */
    input#id_input_link {
        display: block;
        max-width: 96%;
        height: 50px;
        width: 100%;
        padding: 10px 15px;
        border-radius: 4px;

        font-family: var(--font_family);
        font-size: var(--font_size);
    }
/* Estilo para a DIV que contém o botão de adicionar */
div.div_btns_add{
    display: block;
    justify-content: left; 
    margin-top: 35px;
    margin-left: 25px;
    width: 70px;
}

/* Estilo para a DIV que contém a mensagem de alerta */
div#id_div_msg_alerta {
    position: absolute;
    display: block;
    box-shadow: var(--sombra);
    justify-content: center;
    text-align: center;
    width: 25%;
    margin-left: 250px;
    margin-top: 35px;
}

/* Estilo para os botões */
button {
    background-color: #afafb4; /* Verde */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 60px;
    height: 60px;
}       
    .img_btn_add{
        width: 50px;
        height: 50px;
        display: block;
        margin: -15px -25px;
    }
    .btn_fechar_dialog {
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        width: 150px;
        height: 40px;
    }
    .btn_fechar_dialog:hover {
        background-color: rgb(255, 77, 77);
    }

div.links_container {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 90%;
    padding: 10px;
    box-shadow: var(--sombra);
    background-color: var(--cor_background);
    margin-top: 20px;
}

/* Estilo para a DIV que contém os links */
div.content {
    border: none;
    display: grid;  /* Estilo de grade */
    grid-template-rows: repeat(4, 1fr); /* 4 linhas de altura igual */
    max-height: 575px; /* altura máxima */
    gap: 15px;  /* espaçamento entre os itens */
    padding: 10px;  /* preenchimento interno  */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.content::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}

.content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Cor da parte que pode ser arrastada */
}

article.views {
    background: var(--cor_background); /* Fundo branco */
    padding: 20px; /* Preenchimento interno */
    box-shadow: var(--sombra); /* Sombra */
    border-radius: var(--bord_radios_px);
}

@media (min-width: 50px) {
    div.content {
        display: grid;  /* Estilo de grade */
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Colunas responsivas */
        gap: 1.5rem;  /* Espaçamento entre os itens */
    }
}

img.img_miniatura {
    display: grid;
    width: 90px;
    height: 60px;
}