
:root {
    --cor_background: rgba(223, 221, 221, 0.863);
    --font_family: Arial, sans-serif;
    --font_size: 16px;
    --bord_teste: 1px solid #000;
}


html {
    background-color: var(--cor_background);
}

main {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
    height: 500px;

    justify-content: center;
    align-items: center;
}

div.titulos {
    text-align: center;
    align-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    letter-spacing: 2px;
}

div.div_input_link{
    justify-items: center; /* Centraliza o conteúdo ao meio da DIV*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    input#id_input_link {
        display: block;
        max-width: 96%;
        height: 50px;
        width: 100%;
        padding: 10px 15px;
        border-radius: 4px;

        font-family: var(--font_family);
        font-size: var(--font_size);
    }

div.div_btns{
    display: flex;
    justify-content: center; /*Centraliza os botões ao meio da DIV*/    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div#id_div_msg_alerta {
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #ffffff; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 250px;
} 

.content {
  display: grid;  /* Estilo de grade */
  grid-template-rows: repeat(4, 1fr); /* 4 linhas de altura igual */
  max-height:600px; /* altura máxima */
  gap: 15px;  /* espaçamento entre os itens */
  padding: 10px;  /* preenchimento interno  */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.content::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}

.content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Cor da parte que pode ser arrastada */
}

article.views {
    background: #fff; /* Fundo branco */
    padding: 20px; /* Preenchimento interno */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 20%); /* Sombra */
}

@media (min-width: 50px) {
    div.content {
        display: grid;  /* Estilo de grade */
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Colunas responsivas */
        gap: 1.5rem;  /* Espaçamento entre os itens */
    }
}

img.img_miniatura {
    display: grid;
    width: 90px;
    height: 60px;
}