
:root {
    --cor_background: rgba(223, 221, 221, 0.863);
    --font_family: Arial, sans-serif;
    --font_size: 16px;
    --bord_teste: 1px solid #000;
}


html {
    background-color: var(--cor_background);
}

main {
    border: var(--bord_teste);
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
    height: 500px;

    justify-content: center;
    align-items: center;
}

div.titulos {
    text-align: center;
    align-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.div_input_link{
    justify-items: center; /* Centraliza o conteúdo ao meio da DIV*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
input#id_input_link {
    display: block;
    max-width: 96%;
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;

    font-family: var(--font_family);
    font-size: var(--font_size);

}

div.div_btns{
    display: flex;
    justify-content: center; /*Centraliza os botões ao meio da DIV*/    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

button {
    background-color: #3357f5; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 250px;
}

/*
dialog.dialog_play {
    border: var(--bord_teste);
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 80%;
    height: 80%;

    justify-content: center;
    align-items: center;
}*/