
:root {
    --cor_background: rgba(223, 221, 221, 0.863);
}


html {
    background-color: var(--cor_background);
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.titulos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.div_input_link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
id#id_input_link {
    height: 30px;
    width: 500px;
    margin-top: 100px;
}